<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" color="warning">
      <ion-segment-button value="0">
        <ion-icon name="football"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-icon name="grid"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-icon name="flag"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-slides [options]="sliderOptions" #slides (ionSlideDidChange)="slideChanged()" >
    <ion-slide >
      <app-fixtures class="full-width"></app-fixtures>
    </ion-slide>
    <ion-slide>
      <app-standing class="full-width"></app-standing>
    </ion-slide>
    <ion-slide>
      <app-teams class="full-width"></app-teams>
    </ion-slide>
  </ion-slides>
